<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWiyqnU3yBxfKjcodQq4E0AA_nnPnje4E</string>
	<key>GCM_SENDER_ID</key>
	<string>587890115161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mozz</string>
	<key>PROJECT_ID</key>
	<string>mozz-8f04a</string>
	<key>STORAGE_BUCKET</key>
	<string>mozz-8f04a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587890115161:ios:d7abe481710ac7a7e76748</string>
</dict>
</plist>